*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Google Fonts Link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/*Variables Declaration*/
:root
{
  --Theme-Color: #17b978;
  --Icon-Color: #17b978;
  --Primary-color: #f7fafd;
  --Second-Primary-Color: #E9F6FB;
  --Full-White: #FFFFFF;
  --Footer-Background:  #2a363b;
  --Title-Font-Color: #333;
  --Title-Font-Colot-Two: #181810;
  --Subtitle-Font-Color: #333333;
  --Subtitle-Color: #ececec;
}

html
{
  scroll-behavior: smooth;
}

/*Body Part CSS Code*/
body
{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  overflow-x: hidden;
  background: var(--Primary-color);
}

/*Initial Font-Weight*/
h1,h2,h3,h4,h5,h6
{
  font-weight: 900px;
}

/*Container CSS Code*/
.Container
{
  width: 1140px;
  margin: 0 auto;
}

/*Header Part CSS Code*/
.Header-Row
{
  background: var(--Theme-Color);
  height: 80px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid  #8eeec7;
}
.Header-Items
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.Header-Items .Logo
{
  flex-basis: 3%;
  margin-right: 10px;
}
.Header-Items .Logo img
{
  width: 100%;
}
.Header-Items .Nav-Items
{
  flex-basis: 87%;
}
.Header-Items .Nav-Items ul
{
  text-align: right;
  list-style: none;
}
.Header-Items .Nav-Items ul li
{
  display: inline-block;
}
.Header-Items .Nav-Items ul li a
{
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--Full-White);
  margin: 0 10px;
  /* font-weight: bold;
  letter-spacing: 2px; */
}

/*Banner Part CSS Code*/
.Banner-Row
{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(#3aafa98c,#3aafa98c),url("../Assets-Files/Banner.jpg"); */
  background-color: var(--Theme-Color);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}
.Banner-Items
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.Banner-Left
{
  flex-basis: 50%;
}
.Banner-Left p
{
  text-transform: capitalize;
  font-weight: 520;
  letter-spacing: 2px;
  color: var(--Second-Primary-Color);
}
.Banner-Left h3
{
  text-transform: uppercase;
  font-size: 50px;
  color: var(--Second-Primary-Color);
}
.Banner-Left .btn
{
  text-decoration: none;
  text-transform: uppercase;
  background: var(--Second-Primary-Color);
  color: var(--Theme-Color);
  padding: 15px 30px;
  width: 188px;
  text-align: center;
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  font-weight: 550;
}
.Banner-Right
{
  flex-basis: 40%;
}
.Banner-Right img
{
  width: 100%;
}

/*Services CSS Code*/
.Services-Row
{
  background: var(--Primary-color);
  padding: 50px 0;
}
.Title
{
  text-align: center;
  padding: 15px 0;
}
.Title h4
{
  text-transform: uppercase;
  font-size: 30px;
  color: var(--Title-Font-Color);
  letter-spacing: 2px;
  margin-bottom: 12px;
}
.Title .Bar
{
  width: 200px;
  height: 8px;
  background: var(--Primary-Color);
  margin: 0 auto;
  box-shadow: 2px 2px 3px #e7e8e9,
              -2px -2px 3px #fafdff,
              inset 1px 1px 2px #e7e8e9;
  border-radius: 3px;
  position: relative;
}
.Title .Bar::before
{
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 8px;
  background: var(--Icon-Color);
  border-radius: 3px;
  animation: BG-Move 3s linear infinite;
}
@keyframes BG-Move 
{
  To 
  {
    left: 90%;
  }
}
.Title p
{
  color: var(--Subtitle-Font-Color);
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.Services-Items
{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 12px;
}
.Single-Items
{
  flex-basis: 22%;
  text-align: center;
  margin-bottom: 40px;
  padding: 25px 10px;
  background: var(--Primary-color);
  box-shadow: 4px 4px 8px #eaeaff,
              -4px -4px 8px #ffffff;
  border-radius: 2px;
}
.Single-Items i
{
  font-size: 40px;
  color: var(--Icon-Color);
  margin-bottom: 20px;
}
.Single-Items .Foo-Bar
{
  width: 15px;
  height: 3px;
  background: var(--Full-White);
  border-radius: 2px;
  margin: 0 auto 12px auto;
  transition: .4s;
}
.Single-Items:hover .Foo-Bar
{
  width: 80px;
  background: var(--Icon-Color);
}
.Single-Items h4
{
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--Title-Font-Color);
}
.Single-Items p
{
  color: var(--Subtitle-Font-Color);
  font-size: 15px;
}
.Single-Items a
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  color: var(--Theme-Color);
  background: var(--Primary-Color);
  line-height: 0px;
  padding: 15px 10px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
  box-shadow: 2px 2px 3px #ceced1,
              -2px -2px 3px #ffffff;
  transition: .5s;
}
.Single-Items:hover a
{
  box-shadow: inset 1px 1px 2px #ceced1,
             inset -1px -1px 2px #ffffff;
}
.Single-Items a i
{
  color: var(--Icon-Color);
  font-size: 14px;
  line-height: 0px;
  display: inline;
  transition: .5s;
}

/*About Expohut CSS Code*/
.About-Expohut
{
  background: var(--Theme-Color);
  padding: 35px 0;
}
.About-Items
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.About-Left
{
  flex-basis: 70%;
  margin-right: 20px;
}
.About-Left h4,
.About-Side-Menu h4
{
  text-transform: capitalize;
  font-size: 25px;
  color: var(--Title-Font-Colot-Two);
}
.About-Left .subtitle
{
  text-transform: capitalize;
  font-size: 13px;
  color: var(--Subtitle-Font-Color);
}
.About-Left p
{
  color: var(--Primary-color);
  font-size: 16px;
  margin: 15px 0;
  line-height: 25px;
}
.About-Left a
{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: var(--Title-Font-Color);
  background: var(--Theme-Color);
  padding: 12px 25px;
  display: inline-block;
  box-shadow: 2px 2px 3px #17885b,
              -2px -2px 3px #15fca0;
  border-radius: 3px;
  transition: .5s;
}
.About-Left a:hover
{
  box-shadow: inset 1px 1px 2px #17885b,
              inset -1px -1px 2px #15fca0;
}
.About-Left a:hover .About-btn
{
  display: block;
  transform: scale(.97);
}
.About-Side-Menu
{
  flex-basis: 20%;
}
.About-Side-Menu ul
{
  margin-top: 10px;
  list-style: none;
}
.About-Side-Menu ul li
{
  border-bottom: 1px solid var(--Second-Primary-Color);
}
.About-Side-Menu ul li:last-child
{
  border-bottom: 0;
}
.About-Side-Menu ul li a
{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 530;
  color: var(--Primary-color);
  display: block;
  padding: 8px 0;
  margin: 8px 0px;
  transition: .5s;
}
.About-Side-Menu ul li a:hover
{
  color: var(--Primary-Color);
}
.About-Side-Menu ul li a i
{
  color: var(--Second-Primary-Color);
  transition: .5s;
}
.About-Side-Menu ul li a:hover i
{
  color: var(--Subtitle-Font-Color);
  transform: rotate(180deg);
}

/*Top Footer CSS Code*/
.Top-Footer
{

  background: var(--Footer-Background);
  padding: 50px 0;
}
.Top-Footer-Items
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.Footer-Items-one
{
  flex-basis: 40%;
}
.Footer-Items-one h4,
.Footer-Items-Two h4,
.Footer-Items-Three h4
{
  text-transform: capitalize;
  font-size: 25px;
  /* color: var(--Title-Font-Color); */
  color: #fff;
  margin-bottom: 8px;
}
.Footer-Items-one p
{
  /* color: var(--Subtitle-Font-Color); */
  color: #c2c2c2;
  font-size: 15px;
  line-height: 24px;
}
.Footer-Items-Two
{
  flex-basis: 25%;
}
.Footer-Items-Two ul,
.Footer-Items-Three ul
{
  list-style: none;
}
.Footer-Items-Two ul li a,
.Footer-Items-Three ul li a
{
  text-decoration: none;
  text-transform: capitalize;
  /* color: var(--Subtitle-Font-Color); */
  color: #c2c2c2;
  font-size: 15px;
  display: inline-block;
  margin: 3px 0;
  transition: .5s;
}
.Footer-Items-Two ul li a i,
.Footer-Items-Three ul li a i
{
  color: var(--Icon-Color);
  transition: .5s;
}
.Footer-Items-Two ul li a:hover,
.Footer-Items-Three ul li a:hover
{
  /* color: var(--Icon-Color); */
  color: #c2c2c2;
}
.Footer-Items-Two ul li a:hover i,
.Footer-Items-Three ul li a:hover i
{
  transform: rotate(180deg);
  /* color: var(--Subtitle-Font-Color); */
  color: #c2c2c2;
}
.Footer-Items-Three
{
  flex-basis: 25%;
}
.Main-Footer
{
  background: var(--Footer-Background);
  padding: 15px;
  text-align: center;
  /* border-top: 1px solid var(--Second-Primary-Color); */
  border-top: 1px solid #192129;
}
.Main-Footer p
{
  text-transform: capitalize;
  /* color: var(--Subtitle-Font-Color); */
  color: #c2c2c2;
  font-size: 15px;
}